customtkinter==5.2.2
matplotlib==3.8.2
more-itertools==10.1.0
numpy==1.26.4
opencv-python==4.9.0.80
openpyxl==3.1.2
pandas==2.2.0
pillow==10.2.0
pygeos==0.14
seaborn==0.13.2
shapely==2.0.2
tqdm==4.66.2
ujson==5.9.0
