-r requirements.txt
black==25.1.0
flake8==7.1.1
hatch-requirements-txt==0.4.1
interrogate==1.7.0
isort==6.0.1
mypy==1.16.1
pandas-stubs==2.2.3.241126
pre-commit==4.1.0
pytest==8.3.4
pytest-asyncio==0.24.0
pytest-benchmark==5.1.0
pytest-cov==6.0.0
pytest-lazy-fixtures==1.1.2
PyYAML==6.0.2
selenium== 4.32.0
twine==6.1.0
yamllint==1.35.1
