name: Python Example with pytest
on:
  push:
    branches:
      - main

permissions:
  contents: write
  deployments: write
  packages: write

jobs:
  benchmark:
    name: Run pytest-benchmark benchmark exampl
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: 3.11
      - name: Check-out platomo-build repository
        uses: actions/checkout@v3
        with:
          repository: StevenSchlechte/testrepoyml
          token: ${{ secrets.BENCHMARK_TOKEN }}
          path: tests/data
      - name: Run benchmark
        run: |
          python -m pip install --upgrade pip
          if [ -f "requirements.txt" ]; then
              pip install -r requirements.txt
          fi
          if [ -f "requirements-dev.txt" ]; then
              pip install -r requirements-dev.txt
          fi
      - name: Run test
        run: pytest ./tests/benchmark_otanalytics.py --benchmark-json output.json
      - name: Store benchmark result - separate results repo
        uses: benchmark-action/github-action-benchmark@v1
        with:
          name: Python Benchmark with pytest-benchmark
          tool: 'pytest'
          output-file-path: output.json
          github-token: ${{ secrets.BENCHMARK_TOKEN }}
          auto-push: true
          # Show alert with commit comment on detecting possible performance regression
          alert-threshold: '200%'
          comment-on-alert: true
          fail-on-alert: true
          gh-repository: 'github.com/StevenSchlechte/StevenSchlechte.github.io'
