---
name: Build Nightly Version

on:
  push:
    branches:
      - main
    tags:
      - v*.*.*

jobs:
  test:
    uses: './.github/workflows/test.yml'
  create_nightly:
    needs: test
    uses: platomo/GitHub-workflows/.github/workflows/reusable-create-release-with-assets.yml
    with:
      secrets: inherit
      package-version: ${{ github.ref_name }}
      draft-release: True
      pre-release: False
