---
name: Build Nightly Version

on:
  # Creates Nightly Release of main
  # Needs: secrets.PLATOMO_BUILDER_ACCESS
  push:
    branches:
      - main

jobs:
  test:
    uses: './.github/workflows/test.yml'
  regression-test:
    uses: './.github/workflows/regression-test.yml'
    secrets: inherit
  update-version:
    if: endsWith(github.event.base_ref, 'main')
    uses: './.github/workflows/update-version.yml'
    secrets: inherit
  create_nightly:
    needs:
      - test
      - regression-test
    uses: "platomo/GitHub-workflows/.github/workflows/reusable-create-release-with-assets.yml@main"
    secrets:
      PLATOMO_BUILDER_ACCESS: ${{ secrets.PLATOMO_BUILDER_ACCESS }}
    with:
      package-version: nightly
      draft-release: false
      pre-release: true
      delete-existing: true
