name: Regression Test With Pytest
on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:

jobs:
  regression-test:
    name: Run pytest regression test
    runs-on: [self-hosted]
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: 3.11
      - name: Download test data
        run: gh release download --pattern '*.zip' -R platomo/OpenTrafficCam-testdata -D tests/data
        env:
          GH_TOKEN: ${{ secrets.PLATOMO_OTC_TESTDATA_ACCESS }}
      - name: Unzip test data
        run: |
          cd tests/data
          unzip \*.zip
          rm *.zip
          cd ..
      - name: Install requirements
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements-dev.txt
      - name: Run regression tests
        run: pytest ./tests/regression_otanalytics.py
