---
name: Test

on:
  # Run tests each time a PR is opened or changed.
  # Allow other Workflows (e.g., build workflows) to call this workflow.
  pull_request:
  workflow_call:

permissions: read-all

jobs:
  test:
    name: Execute tests across various operating systems and Python versions.
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        py: ["3.12"]
      fail-fast: true
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
      - name: Set up Python ${{ matrix.py }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.py }}
      - name: Install Playwright browsers (Ubuntu)
        if: runner.os == 'Linux'
        run: |
          python -m pip install --upgrade pip
          python -m pip install playwright
          python -m playwright install --with-deps
      - name: Install Playwright browsers (Windows)
        if: runner.os == 'Windows'
        run: |
          python -m pip install --upgrade pip
          python -m pip install playwright
          python -m playwright install
      - name: Run Python Tests
        uses: platomo/test-python-app-action@v3
        timeout-minutes: 60
        with:
          py-version: ${{ matrix.py }}
          package-path: OTAnalytics
          test-path: tests
